@font-face {
    font-family: 'Spartan';
    src: url('asset/League_Spartan/LeagueSpartan-VariableFont_wght.ttf') format('truetype');
    
}
@font-face {
    font-family: 'Pop';
    src: url('asset/Poppins/Poppins-Light.ttf') format('truetype');
    
}

body{
    /*background-image: url("asset/bg-image.png");*/
    height: 100vh;
    background: linear-gradient(#CCAEA4, #b58879);
    
}
#bodyP{
    height: 100%;
    background: linear-gradient(#CCAEA4, #b58879);
}
header{
    display: flex;
    flex-direction: column;
    font-family: 'Spartan';
    font-size: 25px;
    
}
.nom{
    margin-top: 5px;
    margin-left: 860px;
    color:#392e2c;    
}
.titre{
    margin-top: 5px;
    margin-left: 890px;
    color: #b39188;
}
.logoEns img{
    width: 30%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
.logoEns #git{
    margin-right: 40px;
}
.logoEns{
    position:absolute;      
    margin-left:1750px;
    margin-top: 20px;
}
.logoEns a{
    text-decoration: none;
}
nav{
    display: flex;
    flex-direction: row;
    background-color:#b39188 ;
    border-radius: 30px;
    margin-left: 630px;
    padding-bottom:8px;
    padding-left:18px;
    padding-right: 30px;
    width:37.1% ;
    overflow: hidden; /* Pour cacher le dépassement des liens */
}

nav a {
    text-decoration: none;
    color: #392e2c;
    margin-right: 50px;
    margin-top: 5px;
    transition: background-color 0.3s ease; /* Transition pour l'animation */
}

nav a:hover {
    background-color: #b89ba7; /* Couleur de fond au survol */
    border-radius: 30px; /* Pour le bord arrondi au survol */
    
}

.ensH1Photo{
    display: flex;
    flex-direction: column;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    width: 25%;
}

.middle{
    display: flex;
    flex-direction: row;
    font-family: 'Spartan';
    margin-left: 368px;
    margin-top: 70px;
}
.IntroPara h2{
    color:#392e2c;
    margin-left:20px;
    font-size: 30px;
   
}
.middle h1{
    margin-left: 50px;
    color:#b39188;
}
.middle p{
    font-size: 17px;
    margin-left: 20px;
    margin-top: 30px;
    color:#392e2c;
    font-weight: 500;
    font-family: 'Pop';
}

.ensH1Photo img{
    width: 95%;
   
    border-radius: 30px;
    border: solid 2px #b39188 ;
}
.IntroPara{
    display: flex;
    flex-direction: column;
    margin-top: 45px;
}
.skills{
    display: flex;
    flex-direction: column;
    margin-left: 795px;
    margin-top: 80px;
    position: absolute;
}

.button-54 {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 250px;
    height: 50px;
    margin-bottom:60px ;
  }
  
  .button-54:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
  }
  
  @media (min-width: 768px) {
    .button-54 {
      padding: 0.25em 0.75em;
    }
  }

#front{
    color:rgb(86, 136, 138);
}  
#DB{
    color:rgb(75, 1, 109);
}  
#back{
    color:rgb(202, 109, 2);
}  
#outil{
    color:black;
}  
.Textcomp  {
    position: absolute;
    opacity: 0;
    z-index: -1;
    margin-bottom: 300px;
    margin-left: 620px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}
.Textcomp h2{
    color:rgb(86, 136, 138);
    font-family: 'Pop';
    margin-bottom:30px ;
}
.logoEnsemble{
    display: flex;
    flex-direction: row;
}
.logoTitre img{
    width: 100px;    
    height: 100px;
}
.logoTitre{
    font-family: 'Pop';
    font-weight: bold;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    margin-right: 40px;
    
}
#css{
    width: 70.8px;
    height: 100px;
}
#fx{
    width: 239.6px;
    height: 100;
}
#fxml{
    width: 89.25;
    height: 100px;
}
.Textcomp p {
    font-family: 'Pop';
    font-size: 17px;
    color:#392e2c;
}
#lga{
    color:rgb(86, 136, 138);
}
#C{
   width: 90.9px;
   height: 100px; 
}
#Cpp{
   width: 88.9px;
   height: 100px; 
}
#python{
   width: 91.2px;
   height: 100px; 
}
#java{
   width: 200px;
   height: 100px; 
}
#php{
    width: 185.1px;
    height: 100px;   
}
#txtb h2{
    color:rgb(202, 109, 2);
}
#lgaB{
    color:rgb(202, 109, 2);
}
#txtDB h2{
    color:rgb(121, 74, 143);
}

#sql{
    width:81.21px;
    height: 100px;
}
#lgadb{
    color:rgb(121, 74, 143);
}

#lgao{
    color:black;
}
#txto h2{
    color:black;
}
#gitL{
    width: 330px;
    height: 100px;
}
#ij{
    width: 100px;
    height: 100px;
}
#CLION{
    width: 100px;
    height: 100px;
}
#pc{
    width: 100px;
    height: 100px;
}
#vs{
    width: 100px;
    height: 100px;
}

.timeline {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    margin-top:100px ;
}

.timeline-item {
    background: #b39188;
    border-left: 2px solid #333;
    border-radius: 30px;
    margin: 20px 0;
    padding: 20px;
    position: relative;
    
}

.timeline-item::before {
    content: attr(data-year);
    position: absolute;
    top: -30px;
    left: -50px;
    background: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
}
.timeline-item h2{
    font-family: 'Pop';
    font-size: 23px;
    
}
.timeline-item p{
    font-family: 'Pop';
    
}
.timeEnsimg{
    display: flex;
    flex-direction:row;
}
.timeEnsimg img {
 width: 189.4px;
 height: 60px;
 margin-right: 20px;
}

.button-28 {
    appearance: none;
    background-color: transparent;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: #3B3B3B;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 20%;
    will-change: transform;
  }
  
  .button-28:disabled {
    pointer-events: none;
  }
  
  .button-28:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }
  
  .button-28:active {
    box-shadow: none;
    transform: translateY(0);
  }
  .suki button{
    width: 70px;
    background: none;
    border: none;
    
  }
  .suki button img{
    width: 70px;
  }
  .suki{
    margin-top: 60px;
    margin-left: 380px;
    display: flex;
    flex-direction: row;
    }

  .txtsuki{
    font-family: 'Pop';
  }
  .langTxt{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
  }
  .txtsuki a{
    text-decoration: none;
    color:rgb(33, 119, 119)
  }
  .lgaBP{
    color: black;
  }
  #gamejam{
    width: 79.95px;
    height: 60px;
  }
  @import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);


form { max-width:420px; margin:50px auto; }

.feedback-input {
  color:white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #b39188;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid #ffae9d; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background:#b39188;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover { background:#ffae9d; }

#pentree{
    width: 60px;
    height: 60px;
}

@media screen and (max-width: 1280px) {
    header{
        display: flex;
        flex-direction: column;
        font-family: 'Spartan';
        font-size: 16.5px;
        
    }
    .nom{
        margin-top: 3.3px;
        margin-left: 567.5px;
        color:#392e2c;    
    }
    .titre{
        margin-top: 3.3px;
        margin-left: 587.4px;
        color: #b39188;
    }
    .logoEns #git{
        margin-right: 26.4px;
    }
    .logoEns{
        position:absolute;
        margin-left:1155px;
        margin-top: 13.2px;
    }
    nav{
        display: flex;
        flex-direction: row;
        background-color:#b39188 ;
        border-radius: 30px;
        margin-left: 415.8px;
        padding-bottom:5.2px;
        padding-left:11.88px;
        padding-right: 19.8px;
        width:37.1% ;
        overflow: hidden; /* Pour cacher le dépassement des liens */
    }
    nav a {
        text-decoration: none;
        color: #392e2c;
        margin-right: 33px;
        margin-top: 3.3px;
        transition: background-color 0.3s ease; /* Transition pour l'animation */
    }
    .middle{
        display: flex;
        flex-direction: row;
        font-family: 'Spartan';
        margin-left: 242.88px;
        margin-top: 46.2px;
    }
    .ensH1Photo{
        display: flex;
        flex-direction: column;
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
        width: 25%;
    }
    .middle p{
        font-size: 11.22px;
        margin-left: 13.2px;
        margin-top: 19.8px;
        color:#392e2c;
        font-weight: 500;
        font-family: 'Pop';
    }
    .IntroPara{
        display: flex;
        flex-direction: column;
        margin-top: 29.7px;
    }
    .middle h1{
        margin-left: 23.3px;
        color:#b39188;
    }
    
}