@font-face {
    font-family: 'GillSans';
    src: url('public/police/Gill Sans.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GillSans';
    src: url('public/police/Gill Sans Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}
*{
    font-family: 'GillSans', sans-serif;
}
hr{
    border-top: 4px solid #000b31;
    opacity: 100%;
}
